<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="centerform" autocomplete="off" [formGroup]="centreForm" (ngSubmit)="registreCentre()">
                <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png" alt="Home" /><br/><img src="../assets/images/logo-text.png" alt="Home" /></a>
                <h3 class="box-title m-t-40 m-b-0">Formulari de registre</h3><small>Aquest procés només cal fer-ho un cop</small>
                <div class="form-group m-t-20" *ngIf="!nomDeCentre">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" placeholder="Introduiu el codi del vostre centre" formControlName="centre" #codiCentre (keyup)="cercaCentre(codiCentre.value)">
                    </div>
                    <div class="m-t-20" *ngIf="centreTrobat">
                        <div>{{centres[0].denominaci_completa}}</div>
                        <div>{{centres[0].adre_a}}</div>
                        <div>{{centres[0].nom_municipi}} ({{centres[0].nom_delegaci}})</div>
                        <div class="form-group m-t-40">
                            <div class="col-xs-12 text-center">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Envia</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal form-material" id="registreform" autocomplete="off" [formGroup]="registerForm" (ngSubmit)="crearUsuari()">
                <div *ngIf="nomDeCentre">

                    <div class="form-group m-t-20 row">
                        <div class="col-6">
                            <input class="form-control" type="text" placeholder="Nom" formControlName="nom">
                            <small class="text-danger" *ngIf="noValid('nom')">* El nom es obligatori</small>
                        </div>
                        <div class="col-6">
                            <input class="form-control" type="text" placeholder="Cognom" formControlName="cognom">
                            <small class="text-danger" *ngIf="noValid('cognom')">* El cognom es obligatori</small>
                        </div>
                    </div>
                    <div class="form-group m-t-20">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" placeholder="Email" formControlName="email">
                            <small class="text-danger" *ngIf="noValid('email')">* L'email ha de ser corporatiu xtec</small>
                        </div>
                    </div>

                    <div class="form-group m-t-20 row">
                        <div class="col-6">
                            <input class="form-control" type="password" placeholder="Contrasenya" formControlName="password">
                        </div>
                        <div class="col-6">
                            <input class="form-control" type="password" placeholder="Confirmeu la contrasenya" formControlName="password2">
                        </div>
                        <small class="text-danger" *ngIf="contrasenyaNoValida()">* Les dues contrasenyes han de coincidir</small>
                    </div>
                    <div class="form-group m-t-20 row">
                        <div class="col-6">
                            <label class="control-label">Mestre</label>
                            <select class="form-control custom-select" data-placeholder="Especialitat" tabindex="1" formControlName="mestre">
                                <option value="tutor">Tutor</option>
                                <option value="ee">Mestre Ed. Especial</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label class="control-label">Nivell</label>
                            <select class="form-control custom-select" data-placeholder="Curs" tabindex="1" formControlName="nivell">
                                <option value="1">1r</option>
                                <option value="2">2n</option>
                                <option value="3">3r</option>
                                <option value="4">4t</option>
                                <option value="5">5è</option>
                                <option value="6">6è</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label class="control-label">Classe</label>
                            <select class="form-control custom-select" data-placeholder="Curs" tabindex="1" formControlName="classe">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>

                            </select>
                        </div>
                    </div>
                    <div class="m-t-20">
                        <div>{{centres[0].denominaci_completa}}</div>
                        <!-- <div>{{centres[0].adre_a}}</div> -->
                        <div>{{centres[0].nom_municipi}} ({{centres[0].nom_delegaci}})</div>
                    </div>
                    <div class="form-group row m-t-30">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary p-t-0">
                                <input id="checkbox-signup" type="checkbox" formControlName="condicions">
                                <label for="checkbox-signup"> Accepto les <a href="#">Condicions</a></label>
                                <p>
                                    <small class="text-danger" *ngIf="aceptaCondicions()">* Heu d'acceptar les condicions</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrar-me</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Ja tinc un compte <a routerLink="/login" class="text-info m-l-5"><b>Entra</b></a></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->