<a class="linksAlumne" (click)="obrirEeModal(modalEeAlumne)"><i class="fa fa-plus-circle text-success"></i></a>
<ng-template #modalEeAlumne let-modal let-c="close">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-dades-alumne">Atenció a la diversitat</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure you want to delete <span class="text-primary">"Agatha Harkness"</span> profile?</strong></p>

        <p>All data related to west view profile will be removed permanently.
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('Close click')">Close</button>
        <button type="button" class="btn btn-info" (click)="modal.close('Save click')">Desa</button>
    </div>
</ng-template>