<button type="button" class="btn btn-info btn-rounded" (click)="obrirModalNouAlumne(modalNouAlumne)"><i class="fa fa-plus"> </i> Afegir alumnes</button>

<ng-template #modalNouAlumne let-modal let-c="close">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Afegir alumnes</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="dadesAlumnes" class="form-horizontal form-material" autocomplete="off">
            <div class="form-group">
                <div class="row">
                    <div class="col-3 text-center m-b-20">
                        <img *ngIf="!imgTemp" [src]="imatgeURL" class="img-avatar">
                        <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
                        <div class="fileupload btn btn-info btn-rounded waves-effect waves-light col"><span><i class="fa fa-plus"> </i> Canviar imatge</span>
                            <input type="file" class="upload" (change)="canviarImatge($event.target.files[0])"> </div>
                    </div>
                    <div class="col-9 m-b-20">
                        <div class="row">
                            <div class="col-4 m-b-20">
                                <input type="text" class="form-control" formControlName="nom" placeholder="Nom *" [class.is-invalid]="validacioNom">
                                <small *ngIf="validacioNom" class="text-danger">Camp obligatori</small>
                            </div>
                            <div class="col-4 m-b-20">
                                <input type="text" class="form-control" formControlName="cognom1" placeholder="Primer cognom *" [class.is-invalid]="validacioCognom">
                                <small *ngIf="validacioCognom" class="text-danger">Camp obligatori</small>
                            </div>
                            <div class="col-4 m-b-20">
                                <input type="text" class="form-control" formControlName="cognom2" placeholder="Segon cognom"> </div>
                            <div class="col-4 m-b-20 input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-week-start="1" data-date-language="cat">
                                <input id="datanaix" class="form-control datepicker" formControlName="dataNaixement" type="text" placeholder="Data de naixement" #datanaix (blur)="datepicker(datanaix.value)">
                                <span class="input-group-addon"><i class="icon-calender"></i></span>
                            </div>
                            <div class="col-4 m-b-20">
                                <input type="text" class="form-control" formControlName="seguretatSoc" placeholder="DNI/TISE"> </div>
                            <div class="col-4 m-b-20">
                                <input type="text" class="form-control" formControlName="adresa" placeholder="Adreça"> </div>
                            <div class="col-4 m-b-20">
                                <input type="text" class="form-control" formControlName="telefon1" placeholder="Telèfon 1"> </div>
                            <div class="col-4 m-b-20">
                                <input type="text" class="form-control" formControlName="telefon2" placeholder="Telèfon 2"> </div>
                            <div class="col-4 m-b-20">
                                <input type="text" class="form-control" formControlName="email" placeholder="Email" [class.is-invalid]="validacioEmail">
                                <small *ngIf="validacioEmail" class="text-danger">Format incorrecte</small>
                            </div>
                            <div class="col-3 m-b-20">
                                <label class="col-form-label">Nivell *</label>
                                <select class="form-control" formControlName="nivell">
                                    <option value="1r">1r</option>
                                    <option value="2n">2n</option>
                                    <option value="3r">3r</option>
                                    <option value="4t">4t</option>
                                    <option value="5è">5è</option>
                                    <option value="6è">6è</option>
                                </select>
                            </div>
                            <div class="col-3 m-b-20">
                                <label class="col-form-label">Grup *</label>
                                <select class="form-control" formControlName="classe">
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                </select>
                            </div>
                            <div class="col-3 m-b-20">
                                <label class="col-form-label">Repetidor</label>
                                <select class="form-control" formControlName="repetidor" #repe (change)="canviRepetidor(repe.value)">
                                    <option value=false>No</option>
                                    <option value=true>Si</option>
                                </select>
                            </div>
                            <div class="col-3 m-b-20">
                                <label class="col-form-label">Curs repetit</label>
                                <select class="form-control" formControlName="cursRepetit">
                                    <option value="1r">1r</option>
                                    <option value="2n">2n</option>
                                    <option value="3r">3r</option>
                                    <option value="4t">4t</option>
                                    <option value="5è">5è</option>
                                    <option value="6è">6è</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('Close click')">Cancel·la</button>
        <button type="button" class="btn btn-info" (click)="modal.close('Save click')" [disabled]="!dadesAlumnes.valid">Desa</button>
    </div>
</ng-template>